<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}
.page-break { display:block; clear:both; page-break-after:always; }
#page_1 {position:relative; overflow: hidden;margin: 26px 0px 16px 26px;padding: 0px;border: none;width: 790px;}
#page_1 #id_1 {border:none;margin: 1px 0px 0px 0px;padding: 0px;border:none;width: 790px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 35px 0px 0px 334px;padding: 0px;border:none;width: 403px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:765px;height:964px;}
#page_1 #dimg1 #img1 {width:765px;height:964px;}

#page_2 {position:relative; overflow: hidden;margin: 26px 0px 16px 27px;padding: 0px;border: none;width: 789px;}
#page_2 #id_1 {border:none;margin: 1px 0px 0px 0px;padding: 0px;border:none;width: 789px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 32px 0px 0px 333px;padding: 0px;border:none;width: 403px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:762px;height:37px;}
#page_2 #dimg1 #img1 {width:762px;height:37px;}


#page_3 {position:relative; overflow: hidden;margin: 36px 0px 16px 27px;padding: 0px;border: none;width: 789px;}
#page_3 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 789px;overflow: hidden;}
#page_3 #id_2 {border:none;margin: 30px 0px 0px 333px;padding: 0px;border:none;width: 403px;overflow: hidden;}





#page_4 {position:relative; overflow: hidden;margin: 25px 0px 16px 27px;padding: 0px;border: none;width: 789px;}
#page_4 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 789px;overflow: hidden;}
#page_4 #id_2 {border:none;margin: 30px 0px 0px 333px;padding: 0px;border:none;width: 403px;overflow: hidden;}





#page_5 {position:relative; overflow: hidden;margin: 36px 0px 16px 27px;padding: 0px;border: none;width: 789px;}
#page_5 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 789px;overflow: hidden;}
#page_5 #id_2 {border:none;margin: 31px 0px 0px 333px;padding: 0px;border:none;width: 403px;overflow: hidden;}





#page_6 {position:relative; overflow: hidden;margin: 24px 0px 16px 27px;padding: 0px;border: none;width: 764px;}
#page_6 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 758px;overflow: hidden;}
#page_6 #id_2 {border:none;margin: 49px 0px 0px 333px;padding: 0px;border:none;width: 403px;overflow: hidden;}

#page_6 #dimg1 {position:absolute;top:925px;left:0px;z-index:-1;width:764px;height:1px;font-size: 1px;line-height:nHeight;}
#page_6 #dimg1 #img1 {width:764px;height:1px;}
.fontname {font-family: 'Lucida Grande',Tahoma,Helvetica;"}



.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: 13px 'Helvetica';line-height: 16px;}
.ft1{font: 1px 'Helvetica';line-height: 1px;}
.ft2{font: 1px 'Helvetica';line-height: 14px;}
.ft3{font: 13px 'Helvetica';line-height: 14px;}
.ft4{font: 12px 'Helvetica';line-height: 15px;}
.ft5{font: bold 13px 'Helvetica';line-height: 16px;}
.ft6{font: 1px 'Helvetica';line-height: 3px;}
.ft7{font: 1px 'Helvetica';line-height: 4px;}
.ft8{font: 1px 'Helvetica';line-height: 2px;}
.ft9{font: bold 12px 'Helvetica';line-height: 15px;}
.ft10{font: 9px 'Helvetica';line-height: 12px;}
.ft11{font: 8px 'Helvetica';line-height: 10px;}
.ft12{font: 9px 'Helvetica';margin-left: 3px;line-height: 11px;}
.ft13{font: 9px 'Helvetica';line-height: 11px;}
.ft14{font: 8px 'Helvetica';margin-left: 6px;line-height: 10px;}
.ft15{font: 9px 'Helvetica';margin-left: 6px;line-height: 11px;}
.ft16{font: 8px 'Helvetica';margin-left: 6px;line-height: 11px;}
.ft17{font: 8px 'Helvetica';line-height: 11px;}
.ft18{font: 9px 'Helvetica';margin-left: 6px;line-height: 12px;}
.ft19{font: 9px 'Helvetica';margin-left: 10px;line-height: 12px;}
.ft20{font: 9px 'Helvetica';margin-left: 7px;line-height: 12px;}
.ft21{font: 9px 'Helvetica';margin-left: 5px;line-height: 12px;}
.ft22{font: 9px 'Helvetica';line-height: 12px;}
.ft23{font: 8px 'Helvetica';line-height: 11px;}
.ft24{font: 9px 'Helvetica';line-height: 11px;}
.ft25{font: 8px 'Helvetica';line-height: 10px;}
.ft26{font: 9px 'Helvetica';margin-left: 3px;line-height: 12px;}
.ft27{font: 9px 'Helvetica';margin-left: 5px;line-height: 12px;}
.ft28{font: 8px 'Helvetica';margin-left: 6px;line-height: 18px;}
.ft29{font: 8px 'Helvetica';line-height: 18px;}
.ft30{font: 9px 'Helvetica';margin-left: 6px;line-height: 12px;}
.ft31{font: 9px 'Helvetica';margin-left: 9px;line-height: 12px;}
.ft32{font: 8px 'Helvetica';margin-left: 5px;line-height: 10px;}
.ft33{font: 9px 'Helvetica';margin-left: 4px;line-height: 12px;}
.ft34{font: 8px 'Helvetica';margin-left: 8px;line-height: 11px;}
.ft35{font: 9px 'Helvetica';margin-left: 9px;line-height: 11px;}
.ft36{font: 9px 'Helvetica';margin-left: 5px;line-height: 11px;}
.ft37{font: 9px 'Helvetica';margin-left: 10px;line-height: 12px;}
.ft38{font: 9px 'Helvetica';margin-left: 7px;line-height: 12px;}
.ft39{font: 13px 'Helvetica';line-height: 16px;}

.p0{text-align: left;padding-left: 299px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 285px;margin-top: 2px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 1px;margin-top: 47px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 112px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 265px;margin-top: 0px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 40px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 71px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 86px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: center;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: center;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 1px;padding-right: 54px;margin-top: 105px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 7px;padding-right: 37px;margin-top: 81px;margin-bottom: 0px;}
.p17{text-align: right;padding-right: 112px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 113px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 298px;margin-top: 0px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 284px;margin-top: 2px;margin-bottom: 0px;}
.p21{text-align: left;padding-right: 31px;margin-top: 33px;margin-bottom: 0px;}
.p22{text-align: justify;padding-right: 45px;margin-top: 13px;margin-bottom: 0px;}
.p23{text-align: left;padding-right: 28px;margin-top: 11px;margin-bottom: 0px;}
.p24{text-align: left;padding-right: 36px;margin-top: 11px;margin-bottom: 0px;}
.p25{text-align: justify;padding-right: 22px;margin-top: 0px;margin-bottom: 0px;}
.p26{text-align: justify;margin-top: 8px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 9px;margin-bottom: 0px;}
.p28{text-align: justify;margin-top: 10px;margin-bottom: 0px;}
.p29{text-align: justify;margin-top: 9px;margin-bottom: 0px;}
.p30{text-align: left;padding-right: 27px;margin-top: 9px;margin-bottom: 0px;}
.p31{text-align: left;padding-right: 27px;margin-top: 3px;margin-bottom: 0px;}
.p32{text-align: justify;margin-top: 14px;margin-bottom: 0px;}
.p33{text-align: left;padding-right: 33px;margin-top: 9px;margin-bottom: 0px;}
.p34{text-align: left;padding-right: 28px;margin-top: 5px;margin-bottom: 0px;}
.p35{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p36{text-align: left;margin-top: 10px;margin-bottom: 0px;}
.p37{text-align: left;padding-right: 59px;margin-top: 9px;margin-bottom: 0px;}
.p38{text-align: justify;padding-right: 26px;margin-top: 6px;margin-bottom: 0px;}
.p39{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p40{text-align: left;padding-right: 60px;margin-top: 10px;margin-bottom: 0px;}
.p41{text-align: left;padding-right: 44px;margin-top: 8px;margin-bottom: 0px;}
.p42{text-align: left;margin-top: 20px;margin-bottom: 0px;}
.p43{text-align: left;padding-right: 41px;margin-top: 0px;margin-bottom: 0px;}
.p44{text-align: left;padding-right: 44px;margin-top: 9px;margin-bottom: 0px;}
.p45{text-align: left;padding-right: 36px;margin-top: 10px;margin-bottom: 0px;}
.p46{text-align: left;padding-right: 41px;margin-top: 9px;margin-bottom: 0px;}
.p47{text-align: left;padding-right: 34px;margin-top: 10px;margin-bottom: 0px;}
.p48{text-align: left;margin-top: 7px;margin-bottom: 0px;}
.p49{text-align: left;padding-right: 34px;margin-top: 20px;margin-bottom: 0px;}
.p50{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p51{text-align: left;padding-right: 30px;margin-top: 21px;margin-bottom: 0px;}
.p52{text-align: left;padding-right: 38px;margin-top: 10px;margin-bottom: 0px;}
.p53{text-align: left;padding-right: 44px;margin-top: 6px;margin-bottom: 0px;}
.p54{text-align: left;padding-right: 28px;margin-top: 8px;margin-bottom: 0px;}
.p55{text-align: left;padding-right: 54px;margin-top: 32px;margin-bottom: 0px;}
.p56{text-align: left;padding-right: 34px;margin-top: 7px;margin-bottom: 0px;}
.p57{text-align: left;padding-right: 46px;margin-top: 54px;margin-bottom: 0px;}
.p58{text-align: left;padding-right: 47px;margin-top: 9px;margin-bottom: 0px;}
.p59{text-align: left;padding-right: 35px;margin-top: 9px;margin-bottom: 0px;}
.p60{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p61{text-align: left;padding-right: 50px;margin-top: 0px;margin-bottom: 0px;}
.p62{text-align: left;padding-right: 32px;margin-top: 7px;margin-bottom: 0px;}
.p63{text-align: left;padding-right: 29px;margin-top: 0px;margin-bottom: 0px;}
.p64{text-align: left;padding-right: 31px;margin-top: 10px;margin-bottom: 0px;}
.p65{text-align: justify;padding-right: 384px;margin-top: 6px;margin-bottom: 0px;}
.p66{text-align: left;padding-right: 27px;margin-top: 10px;margin-bottom: 0px;}
.p67{text-align: left;padding-right: 31px;margin-top: 7px;margin-bottom: 0px;}
.p68{text-align: left;padding-right: 119px;margin-top: 8px;margin-bottom: 0px;}
.p69{text-align: justify;margin-top: 7px;margin-bottom: 0px;}
.p70{text-align: left;padding-right: 43px;margin-top: 10px;margin-bottom: 0px;}
.p71{text-align: left;padding-right: 44px;margin-top: 10px;margin-bottom: 0px;}
.p72{text-align: left;padding-right: 62px;margin-top: 0px;margin-bottom: 0px;}
.p73{text-align: left;padding-right: 28px;margin-top: 9px;margin-bottom: 0px;}
.p74{text-align: left;margin-top: 21px;margin-bottom: 0px;}
.p75{text-align: left;margin-top: 1px;margin-bottom: 0px;}
.p76{text-align: left;padding-right: 31px;margin-top: 0px;margin-bottom: 0px;}
.p77{text-align: left;padding-right: 30px;margin-top: 9px;margin-bottom: 0px;}
.p78{text-align: justify;padding-right: 30px;margin-top: 9px;margin-bottom: 0px;}
.p79{text-align: left;padding-right: 26px;margin-top: 8px;margin-bottom: 0px;}
.p80{text-align: justify;padding-right: 72px;margin-top: 21px;margin-bottom: 0px;}
.p81{text-align: justify;padding-right: 35px;margin-top: 8px;margin-bottom: 0px;}
.p82{text-align: justify;padding-right: 24px;margin-top: 8px;margin-bottom: 0px;}
.p83{text-align: left;padding-right: 26px;margin-top: 10px;margin-bottom: 0px;}
.p84{text-align: justify;padding-right: 52px;margin-top: 20px;margin-bottom: 0px;}
.p85{text-align: left;padding-right: 38px;margin-top: 13px;margin-bottom: 0px;}
.p86{text-align: justify;padding-right: 59px;margin-top: 7px;margin-bottom: 0px;}
.p87{text-align: left;padding-right: 32px;margin-top: 8px;margin-bottom: 0px;}
.p88{text-align: justify;padding-right: 31px;margin-top: 11px;margin-bottom: 0px;}
.p89{text-align: left;padding-right: 38px;margin-top: 8px;margin-bottom: 0px;}
.p90{text-align: left;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;}
.p91{text-align: left;padding-right: 1px;margin-top: 9px;margin-bottom: 0px;}
.p92{text-align: left;padding-right: 1px;margin-top: 7px;margin-bottom: 0px;}
.p93{text-align: justify;padding-right: 7px;margin-top: 7px;margin-bottom: 0px;}
.p94{text-align: justify;padding-right: 6px;margin-top: 0px;margin-bottom: 0px;}
.p95{text-align: justify;padding-right: 3px;margin-top: 6px;margin-bottom: 0px;}
.p96{text-align: left;padding-right: 23px;margin-top: 630px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 149px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 251px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 159px;vertical-align: bottom;}
.td4{border-left: #000000 1px solid;border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td5{border-right: #000000 1px solid;border-top: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 252px;vertical-align: bottom;}
.td6{border-left: #000000 1px solid;border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td7{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 252px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td10{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 255px;vertical-align: bottom;}
.td11{border-left: #000000 1px solid;border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 506px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 761px;vertical-align: bottom;}
.td14{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td15{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 252px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 280px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 320px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 34px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 207px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 271px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 244px;vertical-align: bottom;}

.tr0{height: 20px;}
.tr1{height: 23px;}
.tr2{height: 14px;}
.tr3{height: 38px;}
.tr4{height: 22px;}
.tr5{height: 19px;}
.tr6{height: 25px;}
.tr7{height: 3px;}
.tr8{height: 4px;}
.tr9{height: 17px;}
.tr10{height: 2px;}
.tr11{height: 18px;}
.tr12{height: 13px;}

.t0{width: 100%;margin-left: 1px;margin-top: 29px;font: 13px 'Helvetica';}
.t1{width: 760px;margin-top: 2px;font: 12px 'Helvetica';}
.t2{width: 634px;margin-left: 7px;margin-top: 55px;font: 13px 'Helvetica';}
.t3{width: 478px;margin-left: 121px;margin-top: 2px;font: bold 12px 'Helvetica';}
.t4{width: 403px;font: 9px 'Helvetica';}
.t5{width: 403px;font: 9px 'Helvetica';}
.t6{width: 634px;margin-left: 6px;margin-top: 55px;font: 13px 'Helvetica';}

</STYLE>
</HEAD>

<body style="margin:0px;padding:0px;">
	<div id="page_1">
		<div class="dclr"></div>
		<div id="id_1 title" style="margin:0px;text-align:center;">
			<p style="border:1px solid;border-bottom:none;margin:0px;padding:0px;">SELECTHOMEWARRANTY</p>
			<p style="border:1px solid;margin:0px;padding:0px;">POLICY HOLDER AGREEMENT</p>
			<table cellpadding=0 cellspacing=0 class="t0">
				<tr>
					<td class="tr0 td0"><p class="p2 ft0" style="font-size:15px;">POLICY #:</p></td>
					<td class="tr0 td1"><p class="p3 ft0" style="font-size:15px;"><NOBR><%= @contract_number %></NOBR></p></td>
					<td class="tr0 td2"><p class="p2 ft1" style="font-size:15px;">&nbsp;</p></td>
					<td class="tr0 td3"><p class="p2 ft1" style="font-size:15px;">&nbsp;</p></td>
				</tr>
				<tr>
					<td class="tr0 td0"><p class="p2 ft0" style="font-size:15px;">POLICY HOLDER:</p></td>
					<td class="tr0 td1"><p class="p3 ft0" style="font-size:15px;"><%= @customer.name.upcase %></p></td>
					<td class="tr0 td2"><p class="p2 ft1">&nbsp;</p></td>
					<td class="tr0 td3"><p class="p2 ft1">&nbsp;</p></td>
				</tr>
				<tr>
					<td class="tr1 td0"><p class="p2 ft0" style="font-size:15px;">COVERAGE ADDRESS:</p></td>
					<td class="tr1 td1"><p class="p3 ft0" style="font-size:15px;"><%= raw @coverage_address.strip.split("\n").first %></p></td>
					<td class="tr1 td2"><p class="p2 ft0" style="font-size:15px;">BILLING ADDRESS:</p></td>
					<td class="tr1 td3"><p class="p2 ft0" style="font-size:15px;"><%= raw @billing_address.strip.split("\n").first %></p></td>
				</tr>
				<tr>
					<td class="tr2 td0"><p class="p2 ft2">&nbsp;</p></td>
					<td class="tr2 td1"><p class="p3 ft3" style="font-size:15px;"><%= raw @coverage_address.strip.split("\n").last %></p></td>
					<td class="tr2 td2"><p class="p2 ft2">&nbsp;</p></td>
					<td class="tr2 td3"><p class="p2 ft3" style="font-size:15px;"><%= raw @billing_address.strip.split("\n").last %></p></td>
				</tr>
				<tr>
					<td class="tr3 td0"><p class="p2 ft0" style="font-size:15px;">RATE:</p></td>
					<td class="tr3 td1"><p class="p3 ft0" style="font-size:15px;"><%= @customer.formatted_annual_rate %></p></td>
					<td class="tr3 td2"><p class="p2 ft0" style="font-size:15px;">CUSTOMER EMAIL:</p></td>
					<td class="tr3 td3"><p class="p2 ft4" style="font-size:15px;"><%= @customer.email %></p></td>
				</tr>
				<tr>
					<td class="tr4 td0"><p class="p2 ft0" style="font-size:15px;">PAYMENT:</p></td>
					<td class="tr4 td1"><p class="p3 ft0" style="font-size:15px;"><%= @payment %></p></td>
					<td class="tr4 td2"><p class="p2 ft0" style="font-size:15px;">TYPE OF HOME:</p></td>
					<td class="tr4 td3"><p class="p2 ft0" style="font-size:15px;"><NOBR><%= @home_type %></NOBR></p></td>
				</tr>
				<tr>
					<td class="tr1 td0"><p class="p2 ft0" style="font-size:15px;">PAYMENT SCHEDULE:</p></td>
					<td class="tr1 td1"><p class="p3 ft0" style="font-size:15px;"><%= @payment_schedule %></p></td>
					<td class="tr1 td2"><p class="p2 ft0" style="font-size:15px;">SIZE OF HOME:</p></td>
					<td class="tr1 td3"><p class="p2 ft0" style="font-size:15px;"><%= @home_size %></p></td>
				</tr>
				<tr>
					<td class="tr4 td0"><p class="p2 ft0" style="font-size:15px;">PURCHASE DATE:</p></td>
					<td class="tr4 td1"><p class="p3 ft0" style="font-size:15px;"><%= @purchase_date %></p></td>
					<% if @customer.month_fee.present? && @customer.month_fee.to_i >= 1 %>
						<td class="tr4 td0"><p class="p2 ft0" style="font-size:15px;">MONTH FREE:</p></td>
						<td class="tr4 td1"><p class="p2 ft0" style="font-size:15px;"><%= @customer.month_fee %> Months</p></td>
					<% else %>
						<% if @customer.year.to_i >= 1 %>
							<td class="tr4 td2"><p class="p2 ft1" style="font-size:15px;">CONTRACT TERM:</p></td>
							<td class="tr4 td3"><p class="p2 ft1" style="font-size:15px;"><%= pluralize(@customer.year, 'Year') %></p></td>
						<% else %>
							<td class="tr4 td2"><p class="p2 ft1" style="font-size:15px;"></p></td>
							<td class="tr4 td3"><p class="p2 ft1" style="font-size:15px;"></p></td>					
						<% end %>					
					<% end %>										
				</tr>
			</table>
			<table>
				<tr>
					<td class="tr4 td0"><p class="p2 ft0" style="font-size:15px;">SERVICE CALL FEE:</p></td>
					<td class="tr4 td1"><p class="p2 ft0" style="font-size:15px;">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<% if @customer.service_fee_amt_override.to_i == 0 %>
							<%= "$60" %>
						<% else %>
							<%= "$#{@customer.service_fee_amt_override.to_i}" %>
						<% end %>
						</p></td>
					<% if @customer.month_fee.present? && @customer.month_fee.to_i >= 1 %>
						<% if @customer.year.to_i >= 1 %>
							<td class="tr4 td2"><p class="p2 ft1" style="font-size:15px;">CONTRACT TERM:</p></td>
							<td class="tr4 td3"><p class="p2 ft1" style="font-size:15px;">&nbsp;&nbsp;&nbsp;<%= pluralize(@customer.year, 'Year') %></p></td>
						<% else %>
							<td class="tr4 td2"><p class="p2 ft1" style="font-size:15px;"></p></td>
							<td class="tr4 td3"><p class="p2 ft1" style="font-size:15px;"></p></td>					
						<% end %>				
					<% end %>
				</tr>
			</table>
			<table>
				<tr>
					<td class="tr1 td0">
						<p style="font-size:15px;width:185px;margin-top:-16px;">NOTES:</p>
					</td>
					<td>
						<p style="font-size:15px;width:600px;">
							<%= @customer.notes_override.to_s.strip %>
						</p>
					</td>
					<td class="tr1 td2"><p class="p2 ft1" style="font-size:15px;">&nbsp;</p></td>
					<td class="tr1 td3"><p class="p2 ft1" style="font-size:15px;">&nbsp;</p></td>
				</tr>
			</table>
			<br><br>
			<style type="text/css">
				.hrstyle{line-height: 0px;height: 0px;padding: 0px;margin: 0px;border: black;}
			</style>
			<p>
			<div style="border-top:1px solid black;width:100%;padding:1px;margin:0px;"></div>
			<div style="border-top:1px solid black;width:100%;padding:1px;margin:0px;"></div>
			</p>
			<p class="p4 ft5" style="font-size:15px;padding-top:0px;margin-top:0px;">
				PLAN SELECTED: <%= @customer.package.package_name.upcase %></p>
			<p class="p5 ft5" style="font-size:15px;"><%= "This #{$installation.name} coverage plan will protect the following".upcase %></p>
			<p class="p6 ft5" style="font-size:15px;">HOME SYSTEMS AND APPLIANCES:</p>
			<table cellpadding=0 cellspacing=0 class="t1">
				<% @package_coverage_sets.each_with_index do |pkg, index| %>
					<% if (index+1)%3 == 1 %><tr><% end %>
						<td class="tr0 td4"><p class="p7 ft0" style="font-size:13px;"><%= pkg %></p></td>
					<% if (index+1)%3 == 0 %></tr><% end %>
				<% end %>
				<tr>
					<td class="tr6 td9"><p class="p13 ft5" style="font-size:15px;">OPTIONAL COVERAGE SELECTED:</p></td>
					<td class="tr6 td8"><p class="p2 ft1">&nbsp;</p></td>
					<td class="tr6 td8"><p class="p2 ft1">&nbsp;</p></td>
				</tr>
				<tr>
					<td class="tr7 td10"><p class="p2 ft6">&nbsp;</p></td>
					<td class="tr8 td8"><p class="p2 ft7">&nbsp;</p></td>
					<td class="tr8 td8"><p class="p2 ft7">&nbsp;</p></td>
				</tr>
				<% @optional_coverage_sets.each_with_index do |cvg, index| %>
					<% if (index+1)%3 == 1 %><tr><% end %>
						<td class="tr0 td4"><p class="p7 ft0" style="font-size:13px;"><%= cvg %></p></td>
					<% if (index+1)%3 == 0 %></tr><% end %>
				<% end %>
				<tr>
					<td colspan=3 class="tr6 td13">
						<p class="p10 ft5" style="font-size:15px;text-align:center">
							<%= "Please call us at #{$installation.phone} to take advantage of the optional coverage below:".upcase %>
						</p>
					</td>
				</tr>
				<tr>
					<td class="tr7 td10"><p class="p2 ft6">&nbsp;</p></td>
					<td class="tr7 td14"><p class="p2 ft6">&nbsp;</p></td>
					<td class="tr7 td14"><p class="p2 ft6">&nbsp;</p></td>
				</tr>
				<% @purchaseable_optional_coverage_sets.each_with_index do |poc, index| %>
					<% if (index+1)%3 == 1 %><tr><% end %>
						<td class="tr9 tr0 td11 td4"><p class="p10 p7 ft0" style="font-size:13px;"><%= poc %></p></td>
					<% if (index+1)%3 == 0 %></tr>
					<% end %>
				<% end %>
			</table>
			
			<p class="p15 ft0" style="text-align:left;">
				<div style="border-top:1px solid black;width:100%;padding:1px;margin:0px;"></div>
				<div style="border-top:1px solid black;width:100%;padding:1px;margin:0px;"></div>
				<br>
				<span style="text-align: left;">
					<p style="font-size:13px;"><%= "I AGREE TO THE TERMS AND CONDITIONS SET FORTH HEREIN. PLEASE SIGN ALL OF THE ATTACHED PAGES AND FAX THEM TO #{$installation.fax} OR YOU MAY SCAN AND EMAIL THEM TO #{$installation.customercare_email}" %></p>
				</span>
				<br>
			</p>
			<table cellpadding=0 cellspacing=0 class="t2">
				<tr>
					<td class="tr11 td16"><p class="p2 ft0">______________________________</p></td>
					<td class="tr11 td17"><p class="p2 ft0">______________________________</p></td>
					<td class="tr11 td18"><p class="p2 ft0">_________________________</p></td>
				</tr>
				<tr>
					<td class="tr11 td16"><p class="p2 ft0" style="width:40%;">POLICY HOLDER (PRINT) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td class="tr11 td17"><p class="p2 ft0" style="width:40%;">POLICY HOLDER (SIGNATURE) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td class="tr11 td18"><p class="p2 ft0" style="width:20%;">DATE</p></td>
				</tr>
			</table>
			<br><br>
			<div style="border:1px solid black;padding:5px;">
				<p class="p16 ft0" style="padding:0px;margin:0px;">
					TO ENROLL ANOTHER PROPERTY OR TO REQUEST SERVICES, PLEASE CALL OR VISIT US 24 HOURS A DAY, 7 DAYS A WEEK, 365 DAYS A YEAR AT:
				</p>
				<table cellpadding=0 cellspacing=0 class="t3">
					<tr>
						<td class="tr5 td19"><p class="p17 ft5"><NOBR><%= $installation.phone %></NOBR></p></td>
						<td class="tr5 td20"><p class="p18 ft9"><%= $installation.domain %></p></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="page-break"></div>
	<div id="page_2">
		<div id="id_1 title" style="margin:0px;text-align:center;width:100%;">
			<p style="border:1px solid;border-bottom:none;margin:0px;padding:0px;">SELECTHOMEWARRANTY</p>
			<p style="border:1px solid;margin:0px;padding:0px;">POLICY HOLDER AGREEMENT</p>
		</div>
		<div class="fontname" style="font-size:9.5px;">
			<%= @tos.html_safe %>
		</div>		
			<br><br><br><br>

			<P style="font-size:13px;"><%= "I AGREE TO THE TERMS AND CONDITIONS SET FORTH HEREIN. PLEASE SIGN ALL OF THE ATTACHED PAGES AND FAX THEM TO #{$installation.fax} OR YOU MAY SCAN AND EMAIL THEM TO #{$installation.customercare_email}" %></P>
			<table cellpadding=0 cellspacing=0 class="t6">
				<tr>
					<td class="tr11 td16"><P class="p2 ft39">___________________________</p></td>
					<td class="tr11 td17"><P class="p2 ft39">________________________________</p></td>
					<td class="tr11 td18"><P class="p2 ft39">_____________________</p></td>
				</tr>
				<tr>
					<td class="tr11 td16"><p class="p2 ft0" style="width:40%;">POLICY HOLDER (PRINT) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td class="tr11 td17"><p class="p2 ft0" style="width:40%;">POLICY HOLDER (SIGNATURE) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
					<td class="tr11 td18"><p class="p2 ft0" style="width:20%;">DATE</p></td>				</tr>
			</table>
</div>
</body>