<h1>Frequently Asked Questions</h1>
<ul>
	<li>
		<h4>What is a Home Warranty?</h4>
		A home warranty is a service contract, usually covering one year, which helps protect homeowners against the cost of unexpected covered repairs or replacement on their major systems and appliances that break down due to normal wear and tear.
	</li>		
	<li><h4>Does <%=$installation.short_name%> cover everything?</h4>
		<%=$installation.short_name%> does have caps on repairs for systems as well as appliances. Please see our terms and conditions for specific maximum payout information.
	</li>
		<h4>I&rsquo;m selling my home. Why would I want a home warranty?</h4>
		A <%=$installation.name%> gives buyers additional confidence in a real estate transaction—they know that <%=$installation.short_name%> stands behind the covered systems or appliances in the house. If they break down, buyers are covered for repair or replacement. An added benefit to the seller is that buyers will be calling us with their problems &mdash; not you.
	</li>
	<li>
		<h4>I&rsquo;m in the market for a home. What&rsquo;s the benefit of buying a home covered by a <%=$installation.name%>?</h4>
		A warranty from <%=$installation.short_name%> helps provide protection during and after a home purchase. When a covered system or appliance breaks down due to normal wear and tear, you&rsquo;re protected for repair or replacement. There&rsquo;s no need to get back in touch with the real estate agent or track down the previous owner.
	</li>
	<li>
		<h4>My home systems and appliances are old. Does that matter to <%=$installation.short_name%>?</h4>
		No, the age of a home or its systems and appliances does not matter to <%=$installation.short_name%>. We cover items that are in good working condition at the time you purchase the plan and properly maintained. Plus, <%=$installation.short_name%> covers all makes and models of appliances and systems.
	</li>
	<li>
		<h4>What if I have an emergency?</h4>
		Our claims department is open 24 hours, a day 7 days a week.
	</li>
	<li>
		<h4>Does <%=$installation.short_name%> need to inspect my home systems and appliances before I enroll?</h4>
		No, <%=$installation.name%> coverage does not require a home inspection to purchase.
	</li>
	<li>
		<h4>Is there a limit to the number of repairs <%=$installation.short_name%> covers?</h4>
		No, <%=$installation.name%> allows an unlimited number of covered repairs.
	</li>
	<li>
		<h4>What is a trade service call fee?</h4>
		A trade service call fee is the amount due when a contractor visits your home. Each type of breakdown falls into a &ldquo;trade&rdquo; category, for example: a leaky pipe qualifies as a plumbing breakdown, while a broken dishwasher is an appliance breakdown. 
		<br><br>
		Since it may require more than one contractor or several unrelated trips to the house by the same contractor (once to fix the pipe, another to fix the dishwasher), there is a fee due for each &ldquo;trade&rdquo; a service call covers. It&rsquo;s perfectly alright to report more than one breakdown at a time. Additional fees may apply if the repairs fall into different categories.
	</li>
	<li>
		<h4>Is a warranty plan from <%=$installation.short_name%> renewable?</h4>
		Yes, warranty-holders may renew their <%=$installation.short_name%> plan (at the option of <%=$installation.short_name%>). <%=$installation.name%> will notify the homeowner in advance of the expiration date, and <%=$installation.short_name%> will offer a variety of convenient payment plans.
	</li>
	<li>
		<h4>I hold Homeowner&rsquo;s Insurance. Why do I need a home warranty?</h4>
		Your homeowner&rsquo;s insurance is hazard insurance and covers items damaged in fires, by water, by wind or other covered events. A home warranty repairs or replaces items that break down on their own through normal wear and tear.
	</li>
	<li>
		<h4>When does coverage begin and when does it end?</h4>
		Coverage for your home&rsquo;s major systems and appliances begins 30 days after you sign up with <%=$installation.short_name%>, and the coverage lasts for one year.
	</li>
	<li>
		<h4>Do you offer Discounts for multiple year coverage?</h4>
		Yes we do. Please call us at <strong><%=$installation.phone%></strong> to speak to a representative about multiple year options.
	</li>
	<li>
		<h4>Does <%=$installation.name%> cover condos and multiple units?</h4>
		Yes. Please call <strong><%=$installation.phone%></strong> for pricing.
	</li>
	<li>
		<h4>What is the process to sign up?</h4>
		You can simply sign up online or call us at <strong><%=$installation.phone%></strong> We accept all major credit cards as well as check by phone.
	</li>	
	<li>
		
	</li>
	<li>
		<h4>I am selling my home, can <%=$installation.name%> send me an invoice so the funds can be taken from escrow at closing?</h4>
		Yes. <%=$installation.name%> representatives are standing by to assist you.
	</li>
	<li>
		<h4>Do you cover rental properties?</h4>
		We cover rental properties, mobile homes, manufactured homes, single family and multiple units as well as condos.
	</li>
	<li>
		<h4>What is the process if I have a claim?</h4>
		Simply call our toll free number 24 hours a day and we will dispatch a local service technician to handle your claim promptly.
	</li>
</ul>