<div class="fixed-width">

<h1>Privacy Policy</h1>

<p>
	Select Home Warranty respects the privacy and security of your &ldquo;Personal Information&rdquo; and
	protecting your &ldquo;Personal Information&rdquo; is one of our top priorities. We are committed to
	protecting your privacy and this policy will explain our privacy practices, including how we use the
	Personal Information we receive from you. Select Home Warranty will not sell your personal information
	to a company or any third party. Any third parties who perform services for our policy holders adhere to
	the strictest guidelines of privacy protection. These service providers are required to protect any and
	all customer (policy-holder) information and may only use it in connection with performing those services.
	Select Home Warranty also maintains strict guidelines with regard to protecting the personal information
	of prospective, current and prior policy-holders. Our sole purpose of collecting your information is to
	process home warranty enrollments and to provide a more personalized buying experience. Upon requesting
	services or a quote from Select Home Warranty, we need to collect personal information from you to
	administer our business more accurately and efficiently.
</p>

<h2>Personal Information That We Collect</h2>
<p>
	Select Home Warranty collects your information from applications or quotes, such as via the telephone
	and internet when you contact us to enroll for a Home Warranty Coverage Plan or to request services or
	other issues. The information we collect includes your first and last name, home or other physical
	address, city, state, zip code, email address and telephone numbers. If you choose to purchase or renew
	your warranty by providing us with a credit or debit card, that information is kept secure and protected
	by using a 256 bit-encrypted secure SSL certificate to ensure the protection of your identity. If you
	provided your email address, Select Home Warranty may occasionally send out email notifications with
	regard to promotions for new services, special offers, or to confirm a billing transaction. If you do
	not wish to be contacted by email for non-policy related issues, you may submit an "unsubscribe" request
	at the bottom of any Select Home Warranty email you may have received.
</p>

<h2>Disclosure of Personal Information</h2>
<p>Select Home Warranty will not sell, rent, or disclose personal information or mailing lists to a company or any third party. All third parties that perform services for our policy holders adhere to the strictest guidelines of privacy protection. These service providers are required to protect any and all customer (policy-holder) information and may only use it in connection with performing those services. We also restrict access of your personal information to those employees who need to know that information to provide products or services to you. We maintain physical, electronic, and procedural safeguards that comply with the strictest regulations to protect you personal information. The distribution of personally sensitive and identifiable information is prohibited to third parties for marketing purposes.</p>
<p>We may also disclose your personal information to others when we believe, in good faith, that such disclosure is reasonably necessary to comply with the law or to protect the safety of our customers, employees, or property and/or to comply with a judicial proceeding, court order or legal process. Select Home Warranty reserves the right to share information with government agencies or private companies that assist us in fraud prevention and fraudulent investigations. We do not disclose Personal Information about our customers or former customers, except as outlined herein or as otherwise permitted by law. </p>

<h2>Cookie/Tracking Technology</h2>
<p>We monitor our customer traffic patterns and site usage to help us develop the design and layout of our website through the use of cookie tracking technology. Select Home Warranty may also use cookie and tracking technology cookies to improve your experience on our website and make navigating easier to navigate for our prospective, current and previous policy-holders. We are very interested in how visitors use our website, what they like and dislike, and where they are experiencing problems. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to a website, understanding how visitors use the website and inform us of which pages are most popular and viewed. Cookies can also help customize a site for visitors. Your personal information cannot be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information and can be tracked through the usage of these cookies. </p>
<p>Cookies are small files that are stored on your computer. They do not contain any personally identifiable information about you. They help us personalize your experience when you return to our website, and they are required for certain portions of our website. Most browsers let you determine whether or not you accept cookies and will notify you when a cookie is received. If you choose not to accept cookies, you may still use our website, but your ability to use some areas and features may be limited.</p>
<p>We also utilize cookies on our website to assist our advertising partners in counting how many unique visitors and customers they have directed to SelectHomeWarranty.com. There are many other reasons why this technique is used such as to verify which and how many customers obtained a quote after being directed to our site or to monitor your response to our advertising or other offers online. Again, this cookie does not collect any personally identifiable information about you.</p>
<p>If you have provided your email address, Select Home Warranty may occasionally send out email notifications with regard to promotions for new services, special offers, or to confirm a transaction. If you do not wish to be contacted by email for non-policy related issues, you may submit an "unsubscribe" request at the bottom of any Select Home Warranty email you may have received.</p>
<p>When you submit a quote request or enroll using your credit or debit card, we use a secure server. This secure server software, SSL (Secure Sockets Layer) encrypts all information you input before it is sent to us. Furthermore, customer transactional data we collect is protected against unauthorized access with the use of digital certificates. The personal information that you provide to Select Home Warranty is kept secure and protected by using a 256 bit-encrypted secure SSL certificate to ensure the highest protection.</p>

<h2>Your Consent</h2>
<p>By using our website, you hereby consent to the collection and use of your personal information by Select Home Warranty. Should Select Home Warranty change our online privacy policy, we will post those changes on this page to be certain that you aware of what information is collected by us, how we will use that information, and any instances regarding the disclosure of that information.</p>

<p>If you have a question or concern about our privacy policy, please feel free to contact us at:</p>

<p>
	<strong><%=$installation.name%></strong><br/>
	Tel: <%=$installation.phone%><br/>
	Fax: <%=$installation.fax%><br/>
	Email: <a href="mailto:<%=$installation.info_email%>"><%=$installation.info_email%></a>
</p>

</div>
<%= google_analytics_js %>