<!DOCTYPE html>
<html>
  <head>
  	<script src="http://static.dudamobile.com/DM_redirect.js" type="text/javascript"></script>
  	<script type="text/javascript">DM_redirect("http://m.selecthomewarranty.com");</script>
  	<title>Eripme</title>
  	<%= stylesheet_link_tag "documentation.css" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tag %>
  	<%= google_analytics_js %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
