<!DOCTYPE html>
<html>
  <head>
  	<title>Eripme</title>
		<%= javascript_include_tag "bootstraplayout2", "bootstrap/bootstrap.min.js" %>
		<%#= javascript_include_tag :defaults %>
  	<%= stylesheet_link_tag "bootstrap_layout", "bootstrap.css", "documentation" %>
		<%= csrf_meta_tag %>
  	<%= google_analytics_js %>
  	<script type="text/javascript">
			$(document).ready(function(){
		    $(".social-login-box").height( $(".login-box").height() - 160 );
		    
		    $("#sign_in_td").on("click", function(){
					$("#sign_in_td").removeClass('signintd2').addClass('signintd')
					$("#sign_up_td").addClass('signintd2')
					$("#partner_signup_part").hide();
					$("#partner_login_part").show();
				});

		    $("#sign_up_td").on("click", function(){
					$("#sign_up_td").removeClass('signintd2').addClass('signintd')
					$("#sign_in_td").addClass('signintd2')
					$("#partner_signup_part").show();
					$("#partner_login_part").hide();
				});
			});
  	</script>
	</head>
	<body>
		<%= render :partial => "/shared/hubspot_analytics_code" %>
		<% if current_partner.present? %>
			<%= render :partial => "partners/header" %>		
		<% end %>
		<%= render :partial => '/shared/team_sales_agent_chat' %>
		<div class="container" style="width:100%;">
		  <% flash.each do |key, value| %>
		    <div class="<%= flash_class(key) %> fade in">
		      <a href="#" data-dismiss="alert" class="close">×</a>
		      <%= value %>
		    </div>
		  <% end %>
			<%= yield %>
		</div>
	</body>
</html>
